.contact__div{

    margin: 0 0 150px 0;
    padding: 0;

    width: 90%;
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    color: white;

    scroll-margin-top: 100px;

}



